<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>classname</key>
		<string>数据库课程设计</string>
		<key>classId</key>
		<string>0</string>
		<key>startTime</key>
		<string>8:00-8:50</string>
		<key>weekDayId</key>
		<string>1</string>
		<key>teacherName</key>
		<string>张凤丽</string>
	</dict>
	<dict>
		<key>classname</key>
		<string>大学物理</string>
		<key>classId</key>
		<string>1</string>
		<key>startTime</key>
		<string>9:30-11:50</string>
		<key>weekDayId</key>
		<string>1</string>
		<key>teacherName</key>
		<string>李伟力</string>
	</dict>
	<dict>
		<key>classname</key>
		<string>Java程序设计</string>
		<key>classId</key>
		<string>2</string>
		<key>startTime</key>
		<string>14:00-14:50</string>
		<key>weekDayId</key>
		<string>1</string>
		<key>teacherName</key>
		<string>赵明</string>
	</dict>
	<dict>
		<key>classname</key>
		<string>数据结构</string>
		<key>classId</key>
		<string>3</string>
		<key>startTime</key>
		<string>9:30-11:50</string>
		<key>weekDayId</key>
		<string>2</string>
		<key>teacherName</key>
		<string>吴波</string>
	</dict>
	<dict>
		<key>classname</key>
		<string>汇编语言</string>
		<key>classId</key>
		<string>4</string>
		<key>startTime</key>
		<string>15:30-16:50</string>
		<key>weekDayId</key>
		<string>2</string>
		<key>teacherName</key>
		<string>李慧慧</string>
	</dict>
	<dict>
		<key>classname</key>
		<string>数据库课程设计</string>
		<key>classId</key>
		<string>5</string>
		<key>startTime</key>
		<string>8:00-8:50</string>
		<key>weekDayId</key>
		<string>3</string>
		<key>teacherName</key>
		<string>张凤丽</string>
	</dict>
	<dict>
		<key>classname</key>
		<string>程序设计</string>
		<key>classId</key>
		<string>6</string>
		<key>startTime</key>
		<string>14:00-14:50</string>
		<key>weekDayId</key>
		<string>3</string>
		<key>teacherName</key>
		<string>李魁鹏</string>
	</dict>
	<dict>
		<key>classname</key>
		<string>汇编语言</string>
		<key>classId</key>
		<string>7</string>
		<key>startTime</key>
		<string>15:30-16:50</string>
		<key>weekDayId</key>
		<string>3</string>
		<key>teacherName</key>
		<string>李慧慧</string>
	</dict>
	<dict>
		<key>classname</key>
		<string>大学物理</string>
		<key>classId</key>
		<string>8</string>
		<key>startTime</key>
		<string>8:00-8:50</string>
		<key>weekDayId</key>
		<string>4</string>
		<key>teacherName</key>
		<string>李伟力</string>
	</dict>
    <dict>
        <key>classname</key>
        <string>Java程序设计</string>
        <key>classId</key>
        <string>9</string>
        <key>startTime</key>
        <string>14:00-15:30</string>
        <key>weekDayId</key>
        <string>4</string>
        <key>teacherName</key>
        <string>赵明</string>
    </dict>
	<dict>
		<key>classname</key>
		<string>网页制作技术</string>
		<key>classId</key>
		<string>10</string>
		<key>startTime</key>
		<string>9:30-11:50</string>
		<key>weekDayId</key>
		<string>5</string>
		<key>teacherName</key>
		<string>孙旺</string>
	</dict>
</array>
</plist>
